.container {
  display: flex;
  justify-content: space-around;
  background-color: rgba(128, 128, 128, 0.507);
  .movieImage {
    margin-top: 80px;
    width: 600px;
    height: 85vh;
  }
  .texts {
    width: 500px;
    text-align: center;
    padding-top: 30px;
    p {
      color: green;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
    }
    span {
      font-weight: 500;
    }
  }
}
